repos:
  - repo: git@github.com:lorenzwalthert/precommit
    rev: v0.4.3.9009
    hooks:
      - id: style-files
        args: [--style_pkg=styler, --style_fun=tidyverse_style]
      - id: lintr
        args: [--warn_only]
        verbose: true
      - id: readme-rmd-rendered
      - id: parsable-R
      - id: no-browser-statement
      - id: no-debug-statement

  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=200']
      - id: end-of-file-fixer
        exclude: '\.Rd'
      - id: trailing-whitespace
      - id: check-yaml

  - repo: git@github.com:psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: git@github.com:PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
